<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hive">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />




    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />



    <application
        android:allowBackup="true"

        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/hivelogo"
        android:label="Hive"
        android:roundIcon="@mipmap/hivelogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hive"
        tools:targetApi="31">

        <!-- Receiver for handling notification actions -->
        <receiver android:name=".Controllers.NotificationActionReceiver"
            android:exported="true" />

        <activity
            android:name=".Views.OrganizerNotificationActivity"
            android:exported="false" />
        <activity android:name=".Views.CustomQrScannerActivity" />
        <activity android:name=".Views.EntrantMapActivity" />

        <activity
            android:name=".AdminImage.AdminImageListActivity"
            android:exported="false" /> <!-- Set RoleSelectionActivity as the launcher activity for testing -->
        <activity
            android:name=".Views.RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity> <!-- NotificationActivity and EventListActivity without launcher intent for now -->
        <activity
            android:name=".Views.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".Events.EventListActivity"
            android:exported="true" />
        <activity
            android:name=".Views.OptionsPageActivity"
            android:exported="true" />
        <activity android:name=".Views.WaitingListActivity" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity" />
        <!--
 Keep MainActivity for navigation, but no launcher intent
        <activity android:name=".MainActivity" />
        -->
        <!-- Profile Activities -->
        <activity android:name=".Views.ProfileActivity" />
        <activity android:name=".Views.ProfileEditActivity" />
        <activity android:name=".Views.FacilityActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.EditFacilityProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity><activity android:name=".Views.InvitedEntrantsActivity" />
        <activity android:name=".Events.EditEventActivity" />
        <activity android:name=".Views.CancelledListActivity" />
        <activity android:name=".Views.FinalListActivity" />
        <activity android:name=".Events.OrganizerEventListActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
        </intent-filter>
         </activity>
        <activity android:name=".Events.AddEventActivity" />
        <activity android:name=".Views.QRCodeActivity" />
        <activity android:name=".Views.UserEventPageActivity" /> <!-- Admin Event Activities -->
        <activity
            android:name=".AdminEvent.AdminEventListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- Event Detail Activity -->
        <activity
            android:name=".Events.EventDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- first time activity -->
        <activity
            android:name=".Views.FirstTimeActivity"
            android:exported="true" />
        <activity
            android:name=".Views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- admin profile list activity -->
        <activity
            android:name=".Views.AdminProfileListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- admin profile view activity -->
        <activity
            android:name=".Views.AdminProfileViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Events.AdminEventDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>