<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hive">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/hivelogo"
        android:label="Hive"
        android:roundIcon="@mipmap/hivelogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hive"
        tools:targetApi="31">
        <activity
            android:name=".Views.OrganizerNotificationActivity"
            android:exported="false" />
        <activity android:name=".Views.CustomQrScannerActivity" />
        <activity
            android:name=".AdminImage.AdminImageListActivity"
            android:exported="false" /> <!-- Set RoleSelectionActivity as the launcher activity for testing -->
        <activity
            android:name=".RoleSelectionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity> <!-- NotificationActivity and EventListActivity without launcher intent for now -->
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".EventListActivity"
            android:exported="true" />
        <activity
            android:name=".OptionsPageActivity"
            android:exported="true" />
        <activity android:name=".WaitingListActivity" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity" />
        <!--
 Keep MainActivity for navigation, but no launcher intent
        <activity android:name=".MainActivity" />
        -->
        <!-- Profile Activities -->
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ProfileEditActivity" />
        <activity android:name=".FacilityActivity" />
        <activity android:name=".EditFacilityProfileActivity" />
        <activity android:name=".CancelledListActivity" />
        <activity android:name=".FinalListActivity" />
        <activity android:name=".OrganizerEventListActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".Views.QRCodeActivity" />
        <activity android:name=".Views.UserEventPageActivity" /> <!-- Admin Event Activities -->
        <activity
            android:name=".AdminEvent.AdminEventListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- Event Detail Activity -->
        <activity
            android:name=".Events.EventDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- first time activity -->
        <activity
            android:name=".Views.FirstTimeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- admin profile list activity -->
        <activity
            android:name=".Views.AdminProfileListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- admin profile view activity -->
        <activity
            android:name=".Views.AdminProfileViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>